/* Arrière plan index */

header{
    background-image: url(../images/asalogo.jpg);
    background-repeat: no-repeat;
    background-size: 120px;
    margin: 2%;
        }

                /* Affichage mobile */
                body {
                    min-width: 1000px;
                }

        /* Style texte */

        h1.titre{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            color: #2A6198;
            font-size: 48px;
        }

        h2.div{
            font-weight: lighter;
            color: #2A6198; 
        }
                /* Menu */ 

                nav{
                    text-align: center;
                    padding-left: auto;
                    padding-right: auto;
                    margin-bottom: 50px;
                }

                nav.menu-principal ul li.btn-menu-principal a{
                    color: #2A6198;
                    font-size: 32px;
                    text-decoration: none;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 50px;
                }

                nav.menu-principal ul li.btn-menu-principal:visited a{
                    color: black;
                  
                }

                nav.menu-principal ul li.btn-menu-principal{
                    display: inline-block;
                    
                }

                nav.menu-principal ul li.btn-menu-principal{
                    list-style-type: none;
                    
                }

                nav.menu-principal ul li.btn-menu-principal:hover a{
                    color: #1FA593;
                    transition: 0.5s all;
                }

                            /* Boite */

                            div#contenu div{
                                display: inline-block;
                                width: 49%;
                                margin-bottom: 100px;
                            }

                            div#contenu div h2{
                                margin: 50px;
                            }

                            div#contenu div.gauche{

                            }

                            div#contenu div.droite{
                                vertical-align: top;
                            }